{% extends 'index.html' %}

{% block content %}

    <h1>Showing Results For...</h1>

    <body>
    <form action="/search/download" method="POST">
    <div>
    {% for movie_name, condition in content %}
        <p>{{movie_name}} ID:{{movie_name.movieID}}</p>
        {% if condition %}
        <image src="{{ url_for('static', filename='./tt' + movie_name.movieID + '_1.jpeg')}}">
        {% endif %}
        <input type="checkbox" id={{movie_name.movieID}} name="movieID" value=tt{{movie_name.movieID}}>
    {% endfor %}
        <div class="control">
                <button class="button is-block is-info is-large is-fullwidth" >Download</button>
    </form>
        </div>
    </div>
    </body>
{% endblock %}
